<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hola!</h1>
    <p>Este es un recordatorio  generado por su experiencia con la  app Pisos y Muros de Sodimac Homecenter.</p>
  </body>
</html>